html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1146px;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.site-wrapper {
  min-width: 1146px;

  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
       -o-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.main-slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
}


.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

img {
  max-width: 100%;
  height: auto;
}


.main-menu a,
.breadcrumbs a,
.main-footer a:not(.copyright-link),
.catalog-creamy a,
.catalog-promo a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-header a {
  margin-top: 7px;
  margin-right: 14px;
  margin-bottom: 9px;
  margin-left: 14px;
}

.main-header a,
.main-footer a,
.catalog-creamy a,
.catalog-promo a {
  color: #ffffff;

  background-color: inherit;
}

.main-header a:hover,
.main-header a:focus {
  margin: 0;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;

  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
  border: none;
  border-radius: 18px;
}

.main-header a:active {
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 14px;

  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation .logo-link:hover,
.main-navigation  .logo-link:focus,
.main-navigation  .logo-link:active,
.logo-link img:hover,
.logo-link img:focus,
.logo-link img:active {
  margin: 0;
  padding: 0;

  color: #849d8f;

  background-color: #849d8f;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logo-link img:hover,
.logo-link img:focus,
.logo-link img:active {
  margin-right: 10px;
}

.main-navigation .logo-link {
  margin: 0;
  padding: 0;
}

.main-footer a:hover:not(.copyright-link),
.main-footer a:focus:not(.copyright-link),
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active,
.catalog-creamy a:hover,
.catalog-creamy a:focus,
.catalog-creamy a:active,
.catalog-promo a:hover,
.catalog-promo a:focus,
.catalog-promo a:active {
  color: #ffbc9e;

  background-color: inherit;
  border-bottom: 1px solid #ffbc9e;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  margin: 0;
  padding: 0;

  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.breadcrumbs a {
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #849d8f;
  border-radius: 0;
}

.button {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 15px;

  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #e95138;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #ca3824, #f26843);
  background-image:      -o-linear-gradient(bottom, #ca3824, #f26843);
  background-image:         linear-gradient(to top, #ca3824, #f26843);
  border: none;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  cursor: pointer;
  opacity: 0.99;
}

.button:hover,
.button:focus {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 15px;

  color: #fefefe;

  background-color: #e95138;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:      -o-linear-gradient(bottom, #e74a35, #f26843), -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:         linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}

.button:active {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 15px;

  color: #fceeec;

  background-color: #e95138;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:      -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:         linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.slide-button {
  display: inline-block;
  padding: 12px 43px 12px 41px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  vertical-align: middle;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image:      -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image:         linear-gradient(to top, #e74a35, #f26843);
  border-radius: 35px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.slide-button:hover,
.slide-button:focus,
.slide-button:active {
  padding: 12px 43px 12px 41px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;

  background-color: #e95138;
  border-radius: 35px;
}

.slide-button:hover,
.slide-button:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:      -o-linear-gradient(bottom, #e74a35, #f26843), -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:         linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
}

.slide-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:      -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:         linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.raspberry-button {
  display: inline-block;
  margin-left: 375px;
  padding: 10px 23px 14px 20px;

  vertical-align: middle;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #ca3824, #f26843);
  background-image:      -o-linear-gradient(bottom, #ca3824, #f26843);
  background-image:         linear-gradient(to top, #ca3824, #f26843);
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.chocolate-button {
  display: inline-block;
  margin-left: 350px;
  padding: 10px 23px 14px 20px;

  vertical-align: middle;
  text-decoration: none;

  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #ca3824, #f26843);
  background-image:      -o-linear-gradient(bottom, #ca3824, #f26843);
  background-image:         linear-gradient(to top, #ca3824, #f26843);
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.raspberry-button:hover,
.chocolate-button:hover,
.raspberry-button:focus,
.chocolate-button:focus {
  padding: 10px 23px 14px 20px;

  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:      -o-linear-gradient(bottom, #e74a35, #f26843), -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image:         linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
}

.raspberry-button:active,
.chocolate-button:active {
  padding: 10px 23px 14px 20px;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:      -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image:         linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.main-header {
  padding: 9px 27px 0;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-weight: bold;
}

.main-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 560px;
  margin-right: 267px;
  padding-right: 26px;
}

.main-menu-wrapper img {
  margin-right: 10px;
}

.post-menu-wrapper,
.post-menu-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 245px;
  margin-left: 49px;
}

.post-menu-wrapper-inner {
  width: 271px;
  margin-left: 45px;
}

.main-menu-item {
  position: relative;

  margin-bottom: 5px;

  text-align: left;
}

.main-menu-item:hover .dropdown {
  display: block;
}

.main-menu-item-inner {
  position: relative;

  margin-bottom: 10px;
}

.main-menu-item-current {
  color: #ffffff;

  background-color: #d07058;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.main-menu-item-current a,
.main-menu-item-current a:hover,
.main-menu-item-current a:active,
.main-menu-item-current a:focus {
  margin: 0;
  padding: 6px 14px 6px 14px;

  color: #ffffff;

  background-color: #d07058;
  border: none;
  border: none;
  border-radius: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.main-menu-item-inner:hover .dropdown {
  display: block;
}

.search-button {
  position: relative;

  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.magnifier-img {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-button:hover path,
.search-button:focus path {
  fill: #323232;
}

.search-button:hover,
.search-button:focus {
  background-color: #f8f7f4;
}

.sign-in {
  position: relative;

  margin-bottom: 5px;
  margin-left: 10px;

  font-size: 14px;
  line-height: 16px;
}

.sign-in a,
.cart a,
.cart-full a {
  margin: 0;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 44px;

  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.sign-in a:hover,
.sign-in a:focus {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 44px;
}

.sign-in path {
  fill: #ffffff;
}

.sign-in-link:hover path,
.sign-in-link:focus path {
  fill: #323232;
}

.sign-in-img {
  position: absolute;
  left: 16px;
}

.cart a:hover,
.cart a:focus,
.cart-full a:hover,
.cart-full a:focus {
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 44px;
}

.cart a:hover,
.cart a:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.cart,
.cart-full {
  position: relative;

  margin-bottom: 5px;
  margin-left: 10px;

  font-size: 14px;
  line-height: 16px;
}

.cart a::before {
  content: "";
  position: absolute;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart.svg");
}

.cart-full a {
  color: #323232;

  background-color: #f8f7f4;
}

.cart-full a::before {
  content: "";
  position: absolute;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart-full.svg");
}

.open-hours,
.open-hours-inner {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.open-hours-inner {
  margin-top: -5px;
}

.phone-number,
.phone-number-inner {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.page-title-creamy {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.filter-form {
  margin-bottom: 15px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 880px;
}

.filter-list .filter-name {
  display: block;
  margin-left: 15px;
}

.sorting {
  position: relative;
}

.sorting .filter-select {
  width: 190px;
  height: 35px;
  margin-top: 6px;
  padding-right: 10px;
  padding-left: 15px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.sorting select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sorting select::-ms-expand {
  display: none;
}

.filter-select option {
  padding-left: 5px;
}

.sorting-wrapper:hover .filter-select,
.sorting-wrapper:focus .filter-select,
.sorting-wrapper:hover polyline,
.sorting-wrapper:focus polyline {
  color: #323232;

  cursor: pointer;

  fill: #323232;
}

.select-img {
  position: absolute;
  top: 37px;
  right: 10px;
}

.filter-form fieldset {
  margin-bottom: 15px;
  padding: 0;

  color: #ffffff;

  border: none;
}

.filter-form label:not(:last-of-type) {
  margin-right: 20px;
}

.fillings-option-wrapper,
.fat-option-wrapper,
.price-option-wrapper {
  min-height: 30px;
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.price-option-wrapper {
  position: relative;

  display: inline-block;
  width: 210px;
  padding-bottom: 2px;

  vertical-align: middle;
}

.range-button {
  position: absolute;
  z-index: 1;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-button::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;
}

.range-button-top {
  top: 8px;
  left: 35px;
}

.range-button-bottom {
  top: 8px;
  right: 65px;
}

.range-button-top::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;

  width: 175px;
  height: 4px;

  background-color: #f8f7f4;
  opacity: 0.5;
}

.range-button-bottom::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;

  width: 80px;
  height: 4px;

  background-color: #f8f7f4;
}

.filter-form .fat {
  min-width: 415px;
}

.fat-option-wrapper input[type="radio"] {
  position: relative;
  z-index: 1;

  width: 22px;
  height: 22px;

  cursor: pointer;
  opacity: 0;
}

.fillings-option-wrapper input[type="checkbox"] {
  position: relative;
  z-index: 1;

  width: 23px;
  height: 23px;

  cursor: pointer;
  opacity: 0;
}

.fat-option-wrapper {
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 13px;
}

.fillings-option-wrapper {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 17px;
}

.radio-wrapper,
.checkbox-wrapper {
  position: relative;

  display: inline-block;
  margin-right: 17px;

  vertical-align: middle;
}

.checkbox-wrapper label {
  margin-left: 4px;
}

.checkmark {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;

  width: 22px;
  height: 22px;
  margin-top: 3px;

  background-image: url("../img/radio-off.svg");
  background-size: 22px 22px;
  opacity: 0.8;
}

.checkbox {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;

  width: 24px;
  height: 20px;
  margin-top: 3px;
  padding-right: 4px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;
}


.radio-wrapper:hover .checkmark {
  opacity: 1;
}

input[type="radio"]:disabled ~ .checkmark {
  opacity: 0.4;
}

input[type="radio"]:checked ~ .checkmark {
  background-image: url("../img/radio-on.svg");
  background-size: 22px 22px;
}

.checkbox-wrapper:hover .checkbox {
  opacity: 1;
}

input[type="checkbox"]:disabled ~ .checkbox {
  opacity: 0.4;
}

input[type="checkbox"]:checked ~ .checkbox {
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
}

.checkmark::after,
.checkbox::after {
  content: "";
  position: absolute;

  display: none;
}

input[type="radio"]:checked ~ .checkmark::after,
input[type="checkbox"]:checked ~ .checkbox::after {
  display: block;
}

input[type="radio"] {
  margin-right: 3px;
}

.filter-form .fillings {
  min-width: 700px;
}

.filter-list li {
  margin-right: 14px;
}

.filter-name {
  margin-bottom: 2px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.apply-button {
  width: 140px;
  height: 35px;
  margin-top: 22px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.apply-button:hover,
.apply-button:focus {
  color: #323232;

  background-color: #ffffff;
  border: none;
}

.apply-button:active {
  background-color: #ededed;
  border: none;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.ads {
  margin-bottom: 30px;
}

.ads-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ads-list p {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 45px;
  margin-left: 20px;
}

.ads-raspberry {
  width: 560px;
  min-height: 230px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;

  background-color: #b03353;
  background-image: url("../img/background-ads-raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.ads-chocolate {
  width: 560px;
  min-height: 230px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;

  background-color: #7a503c;
  background-image: url("../img/background-ads-chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.ads-name {
  margin: 0;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.about-glassy {
  width: 1146px;
  min-height: 307px;
  margin-bottom: 40px;

  text-align: left;
  color: #323232;

  background-color: #ede1c5;
  background-image: url("../img/background-about-glassy.jpg");
  border-radius: 15px;
}

.page-title-main {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 30px;
}

.about-glassy-details {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-right: 35px;
  margin-left: 75px;
  padding: 0;

  list-style-type: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.about-glassy-details li {
  position: relative;

  width: 470px;
  margin-bottom: 25px;
}

.about-glassy-details li:nth-child(odd) {
  margin-right: 40px;
}

.about-glassy-details p {
  margin: 0;
  padding: 0;
}

.production p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;

  width: 49px;
  height: 49px;

  background-image: url("../img/production.svg");
}

.ingredients p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;

  width: 49px;
  height: 49px;

  background-image: url("../img/ingredients.svg");
}

.purchase p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;

  width: 49px;
  height: 49px;

  background-image: url("../img/purchase.svg");
}

.delivery p::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -55px;

  width: 49px;
  height: 49px;

  background-image: url("../img/delivery.svg");
}

.post-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  min-height: 220px;

  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/background-blog-news.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-news-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
}

.blog-news-details {
  width: 281px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.blog-news-details a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscribe {
  position: relative;

  width: 560px;
  min-height: 210px;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #5a5a5a;

  background: -webkit-repeating-linear-gradient( 135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px );
  background:      -o-repeating-linear-gradient( 135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px );
  background:         repeating-linear-gradient( -45deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px, #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px );
  border-radius: 15px;
}

.subscribe-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;

  width: 550px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-wrapper p {
  width: auto;
  margin: 0;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  padding: 0;

  text-align: left;
}

.subscribe-form {
  margin-bottom: 30px;
}

.subscribe input,
.search-form input,
.sign-in-form input,
.feedback-form input,
.feedback-form textarea {
  position: relative;

  width: 353px;
  height: 36px;
  margin-right: 10px;
  margin-left: 20px;
  padding: 0 0 0 10px;

  font: inherit;
  font-weight: bold;
  line-height: 24px;

  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
          box-shadow: 0 0 0 1px #d3d3d2;
}

input::-webkit-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  color: #999999;
}

input:-ms-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  color: #999999;
}

input::-ms-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  color: #999999;
}

input::placeholder,
.feedback-form textarea {
  font-weight: normal;
  color: #999999;
}

.subscribe input:hover,
.search-form input:hover,
.sign-in-form input:hover,
.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 0 0 0 10px;

  border: 2px solid #c7c6c5;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subscribe input:focus,
.search-form input:focus,
.sign-in-form input:focus,
.feedback-form input:focus,
.feedback-form textarea:focus {
  padding: 0 0 0 10px;

  border: 2px solid #2e88e4;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.information-list,
.social-list,
.breadcrumbs-list,
.catalog-creamy-list,
.catalog-promo-list,
.information-list-left,
.information-list-right,
.cart-form-list,
.filter-list,
.ads-list,
.slider-list,
.pagination-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-item-wrapper,
.list-item-promowrap {
  position: relative;
  z-index: 0;

  width: 267px;
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 13px;
}

.list-item-creamy:hover,
.list-item-creamy:focus,
.list-item-promo:hover,
.list-item-promo:focus {
  position: relative;
  z-index: 1;

  width: 267px;
  margin-right: 26px;
  padding: 0;
}


.list-item-wrapper:hover,
.list-item-wrapper:focus,
.list-item-promowrap:hover,
.list-item-promowrap:focus {
  position: absolute;

  width: 267px;
  height: 405px;
  margin-right: 26px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.list-item-creamy:hover a,
.list-item-creamy:focus a,
.list-item-promo:hover a,
.list-item-promo:focus a {
  margin-bottom: 0;

  background-color: transparent;
}

.list-item-wrapper:hover .view-button,
.list-item-wrapper:focus .view-button,
.list-item-promowrap:hover .view-button,
.list-item-promowrap:focus .view-button {
  position: absolute;
  bottom: 25px;
  left: 45px;

  display: block;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-creamy {
  padding-bottom: 30px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-promo {
  padding-bottom: 5px;
}

.catalog-creamy-list,
.catalog-promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1172px;
  margin-left: -13px;
}

.catalog-creamy-list {
  margin-bottom: 40px;
}

.list-item-wrapper:nth-child(4n),
.list-item-promowrap:nth-child(4n) {
  margin-right: 0;
}

.list-item-wrapper img,
.list-item-promowrap img {
  margin-bottom: 10px;

  border-radius: 50%;
}

.list-item-promowrap::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url("../img/featured.svg");
  border-radius: 50%;
}

.list-title-creamy {
  position: relative;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.list-price-creamy {
  position: absolute;
  top: 215px;

  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.list-price-creamy span {
  font-size: 30px;
}

.view-button {
  display: none;
}

.breadcrumbs {
  margin-top: -20px;
  margin-bottom: 25px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 267px;
  margin-bottom: 5px;
}

.breadcrumbs-item {
  margin-right: 7px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.pagination-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 267px;
  margin-left: 860px;
  padding-right: 30px;
}

.pagination-page {
  margin-right: 5px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #849d8f;
}

.pagination-list:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 95px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-left-small.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination-list:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 13px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.pagination-list a {
  display: block;
  padding: 4px 8px;

  color: #ffffff;
  text-decoration: none;

  border: none;
  border-radius: 50%;
}

.current-pagination-page a {
  padding: 4px 8px;

  color: #323232;
  color: #323232;

  background-color: #ffffff;
}

.pagination-page:hover,
.pagination-page:focus,
.current-pagination-page:hover,
.current-pagination-page:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-page:hover a,
.pagination-page:focus a,
.current-pagination-page:hover a,
.current-pagination-page:focus a {
  display: block;
  padding: 4px 8px;

  color: #ffffff;

  background-color: transparent;
  border: none;
}

.current-pagination-page:hover a,
.current-pagination-page:focus a {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-page:active,
.current-pagination-page:active {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-page:active a,
.current-pagination-page:active a {
  display: block;
  padding: 4px 8px;

  color: #323232;

  background-color: transparent;
  border: none;
}

.pagination-page a:hover,
.current-pagination-page a:hover,
.pagination-page a:focus,
.current-pagination-page a:focus {
  display: block;
  padding: 4px 8px;

  color: #ffffff;

  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination-page a:active,
.current-pagination-page a:active {
  color: #323232;
}

.contact-details {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1200px;
  height: 430px;
  margin-left: -27px;

  background-image: url("../img/map.jpg");
}

.contact-details iframe {
  position: relative;
  z-index: 1;
}

.contact-details-wrapper {
  position: absolute;
  top: 60px;
  right: 27px;
  z-index: 2;

  width: 255px;
  min-height: 245px;
  padding: 30px 25px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 20px;
}

.contact-details-wrapper p {
  margin: 0;
}

.contact-details-wrapper p:nth-of-type(2) {
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact-details-wrapper b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.initiate-feedback-button {
  margin-top: 25px;
  padding: 9px 27px;
}

.initiate-feedback-button:hover,
.initiate-feedback-button:focus,
.initiate-feedback-button:active {
  padding: 9px 27px;
}

.social {
  margin-bottom: 29px;
}

.social-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 267px;
  min-height: 90px;
}

.social-list-item {
  position: relative;
}

.social-list li {
  margin-top: 35px;
  margin-right: 50px;
}


.twitter::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url("../img/twitter.svg");
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.instagram::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url("../img/instagram.svg");
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.facebook::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url("../img/facebook.svg");
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.vk::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url("../img/vk.svg");
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.twitter:hover::before,
.instagram:hover::before,
.facebook:hover::before,
.vk:hover::before,
.twitter:focus::before,
.instagram:focus::before,
.facebook:focus::before,
.vk:focus::before {
  opacity: 1;
}

.twitter:active::before,
.instagram:active::before,
.facebook:active::before,
.vk:hover:active:before {
  opacity: 0.7;
}

.information {
  width: 560px;
  margin-top: 35px;
  margin-right: 25px;
  margin-bottom: 30px;
  margin-left: 25px;

  font-weight: normal;
  font-size: 13px;
  text-align: left;
}

.information-list-left,
.information-list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
}

.information .vendors {
  position: relative;

  font-weight: bold;
}

.vendors a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
}

.information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 560px;
}

.information-list li {
  margin-bottom: 5px;
}

.copyright {
  width: 267px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 78px;

  font-weight: normal;
  font-size: 12px;
}

.copyright .copyright-link {
  display: block;
  padding-left: 5px;
}

.copyright p {
  margin: 0;
  padding: 0;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: -5px;
  z-index: 999;

  display: none;
  width: 143px;
  min-height: 142px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search,
.sign-in,
.feedback-form {
  position: relative;
  z-index: 1;
}

.sign-in-form,
.search-form {
  display: none;
}

.search:hover .search-form {
  display: block;
}

.sign-in:hover .sign-in-form {
  display: block;
}

.search-form {
  position: absolute;
  top: 37px;
  right: 0;

  width: 341px;
  height: 84px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input {
  width: 309px;
  height: 42px;
  margin: 20px 15px;
}

.search-form input::-webkit-input-placeholder,
.sign-in-form input::-webkit-input-placeholder,
.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  font-size: 14px;
}

.search-form input:-ms-input-placeholder,
.sign-in-form input:-ms-input-placeholder,
.feedback-form input:-ms-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  font-size: 14px;
}

.search-form input::-ms-input-placeholder,
.sign-in-form input::-ms-input-placeholder,
.feedback-form input::-ms-input-placeholder,
.feedback-form textarea {
  font-weight: normal;
  font-size: 14px;
}

.search-form input::placeholder,
.sign-in-form input::placeholder,
.feedback-form input::placeholder,
.feedback-form textarea {
  font-weight: normal;
  font-size: 14px;
}

.sign-in p,
.feedback-form p {
  margin: 0;
  padding: 0;
}

.sign-in-form {
  position: absolute;
  top: 30px;
  right: 0;

  width: 277px;
  height: 214px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.sign-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px;
}


.sign-in-form input {
  position: relative;

  width: 225px;
  height: 38px;
  margin-right: 20px;
  margin-left: 20px;
}

.sign-in-input {
  margin: 10px 15px;
}

.sign-in-form input:first-of-type {
  margin-top: 20px;
}

.sign-in-form a,
.dropdown a {
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  background-color: #f8f7f4;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 0;
}

.sign-in-form a:hover,
.sign-in-form a:focus,
.sign-in-form a:active {
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #e84d37;

  background-color: #f8f7f4;
  border-bottom: 1px solid #f9cdc4;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown a,
.dropdown a:hover,
.dropdown a:focus,
.dropdown a:active {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #323232;

  background-color: #f8f7f4;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-items-current {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown .new-items {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.dropdown .dropdown-items,
.dropdown .dropdown-items-current {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.dropdown .dropdown-items:hover,
.dropdown .dropdown-items:focus,
.dropdown .new-items:hover,
.dropdown .new-items:focus {
  color: #323232;

  background-color: #fbded7;
}

.dropdown-items:hover a,
.dropdown-items:focus a,
.new-items:hover a,
.new-items:focus a {
  color: #323232;

  background-color: #fbded7;
}

.dropdown .dropdown-items:active,
.dropdown .new-items:active,
.dropdown-items:active a,
.new-items:active a {
  color: #323232;

  background-color: #f6b5a5;
}

.new-items a,
.new-items:hover a,
.new-items:focus a,
.new-items:active a {
  font-weight: bold;
}

.dropdown li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.new-items {
  position: relative;
}

.new-items::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 5px;

  width: 128px;
  height: 1px;

  background-color: #d1d0ce;
}

.dropdown-items-current,
.dropdown-items-current:hover,
.dropdown-items-current:focus {
  color: #ffffff;

  background-color: #d07058;
}

.submit-button {
  padding: 10px 20px;
}

.submit-button:hover,
.submit-button:focus,
.submit-button:active {
  padding: 10px 20px;
}

.sign-in-button {
  padding: 10px 25px;
}

.sign-in-button:hover,
.sign-in-button:focus,
.sign-in-button:active {
  padding: 10px 25px;
}

.feedback-form {
  position: fixed;
  bottom: 30%;
  left: 50%;
  z-index: 1;

  display: none;
  width: 477px;
  height: 442px;
  margin-left: -239px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.close-button::before {
  content: "";
  position: absolute;
  right: 0;

  width: 20px;
  height: 2px;

  background-color: #231f20;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-button::after {
  content: "";
  position: absolute;
  right: 0;

  width: 20px;
  height: 2px;

  background-color: #231f20;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form input {
  position: relative;

  width: 252px;
  height: 38px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.feedback-form textarea {
  width: 409px;
  height: 148px;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
  padding-top: 5px;
  padding-left: 10px;

  resize: none;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  padding-top: 5px;
  padding-left: 10px;
}

.feedback-button {
  margin-bottom: 30px;
  margin-left: 320px;
}

.cart-form {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;

  display: none;
  width: 539px;
  min-height: 242px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-full:hover .cart-form {
  display: block;
}

.cart-form p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.cart-form p {
  display: inline-block;
  margin-right: 25px;

  vertical-align: middle;
}

.cart-form .item-name {
  width: 220px;
}

.cart-form .item-number {
  width: 65px;
}

.cart-form .item-price {
  width: 50px;
}

.cart-form .remove-button {
  position: relative;
  left: 0;

  width: 11px;
  height: 11px;
  margin-right: 15px;

  font-size: 0;

  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}

.remove-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 1px;

  background-color: #231f20;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 1px;

  background-color: #231f20;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-button {
  position: relative;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}

.feedback-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-right: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.feedback-form-title p {
  margin-right: 75px;

  font-size: 24px;
  line-height: 28px;
  color: #323232;

  background-color: #f8f7f4;
}

.cart-form li {
  margin-bottom: 18px;
}

.cart-form .item-total {
  position: relative;

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.cart-form .item-total::before {
  content: "";
  position: absolute;
  top: -17px;
  right: 0;

  width: 510px;
  height: 1px;

  background-color: #cacac7;
}

.cart-form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.cart-form img {
  margin-right: 14px;

  border-radius: 50%;
}

.cart-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-form-item span {
  color: #999999;
}

.cart-total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 14px;
  margin-bottom: 21px;
}

.cart-total-wrapper p {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.order-button {
  padding: 10px 15px;
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  padding: 10px 15px;
}

.container,
.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1146px;
  margin: 0 auto;
}

.container-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 1146px;
  margin: 0 auto;
}

.container:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 27px;
}

.main-footer {
  margin-bottom: 0;
  padding: 0 27px;
}

.feedback-form-show {
  display: block;
}
